 @import url("bootstrap.min.css");
 .delani {
     background: url("../Images/h_img.jpg");
     height: 100vh;
     color: white;
     text-align: center;
     padding: 17%;
 }
 
 .delani img {
     padding: 5%;
 }
 
 span {
     font-size: 37px;
     font-weight: bold;
 }
 
 .about {
     text-align: center;
     padding: 4%;
 }
 
 #ser {
     background: url("../Images/s_image.jpg");
     color: white;
     text-align: center;
     height: 65vh;
     background-repeat: no-repeat;
     padding: 8%;
 }
 
 .row {
     text-align: center;
 }
 
 .port {
     text-align: center;
     padding: 3%;
 }
 
 h2 {
     font-weight: bold;
 }
 
 #h3 {
     text-align: center;
     font-weight: bold;
 }
 
 h5 {
     font-weight: bold;
     text-align: center;
     font-size: 30px;
 }
 
 .contact {
     background: url("../Images/c_image.jpg");
     height: 60vh;
     position: relative;
     margin: 7%;
     padding: 5%;
 }
 
 .par {
     display: none;
 }
 
 .para {
     display: none;
 }
 
 .card {
     padding: 15px;
     position: relative;
 }
 
 .para {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #fff;
     text-transform: uppercase;
     font-weight: bold;
     font-size: 2rem;
     background: rgba(0, 0, 0, 0.5);
     padding: 2rem;
     border: 3px solid #fff;
 }
 
 #textarea::placeholder {
     color: white;
     font-weight: bold;
 }
 
 form {
     width: 60%;
     margin: 0 auto;
 }
 
 #name,
 #message {
     background-color: transparent;
     color: white;
     font-weight: bold;
 }
 
 #name::placeholder,
 #message::placeholder {
     color: white;
 }
 
 #email {
     background-color: transparent;
     color: white;
     font-weight: bold;
 }
 
 #email::placeholder {
     color: white;
 }
 
 footer {
     display: block;
     text-align: center;
 }
 
 h6 {
     text-align: center;
     padding: 10px;
     color: white;
 }
 
 #pr {
     text-align: center;
 }
 
 h5 {
     color: white;
 }