 @import url("bootstrap.min.css");
 .delani {
     background: url("../Images/h_img.jpg");
     height: 100vh;
     color: white;
     text-align: center;
     padding: 14%;
 }
 
 .delani img {
     padding: 5%;
 }
 
 span {
     font-size: 37px;
     font-weight: bold;
 }
 
 .about {
     text-align: center;
     padding: 4%;
 }
 
 #ser {
     background: url("../Images/s_image.jpg");
     color: white;
     text-align: center;
     height: 65vh;
     background-repeat: no-repeat;
     padding: 8%;
 }
 
 #h3 {
     text-align: center;
 }